doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Node Status

  body
    h1 Node Status

    if nodeDisplayData
      .node-status
        p Node Status: Running
        p Hostname: #{nodeDisplayData.nodeIp}
        p Synced: #{nodeDisplayData.nodeSyncState ? 'Yes' : 'No'}
        p Peers: #{nodeDisplayData.nodePeersConnected}

    hr

    each pc in farmerDisplaySector
      .farmer-details
        div.center.header
          h3.center Name: #{pc.SummaryData.Name}
          h3 Hostname: #{pc.SummaryData.FarmerIp}
          h3 Bal: #{walletBalance}
        div.line1
            p Status: ✔ #{pc.SummaryData.Uptime.FormattedTime}
        div.line2
          div.row
            p  Sector Time: #{pc.SummaryData.TotalSectorTime.formattedSectorTime} 
            p #{pc.SummaryData.TotalSectorsPerHour.toFixed(2)} Sectors per Hr |
            p Rewards: #{pc.SummaryData.TotalRewards} total, 
            p #{pc.SummaryData.TotalRewardsPerHour} per Hr,
            p #{(pc.SummaryData.TotalRewardsPerHour * 24).toFixed(2)} per Day
          div.row
            p Remain: #{pc.SummaryData.TotalETA}
            p #{pc.SummaryData.TotalPercentComplete}% Complete 
            p #{pc.SummaryData.TotalDiskSize}TiB 
        div.tablediv
          table
            thead
              tr
                th.Disk-Id Disk Id
                th.Size Size(TB)
                th.Percent-Complete % Comp
                th.ETA ETA(Days)
                th.Sectors-Hr Sectors/Hr
                th.Min-Sector Min/Sector
                th.Reward Reward
                th.Miss Miss
              each ind in pc.IndividualDiskDataObj
                tr  
                  td= ind.Id
                  td= ind.Data.DiskSize 
                  td= ind.Data.CompletePercent 
                  td= ind.Data.ETA
                  td= ind.Performance.SectorsPerHour 
                  td= ind.Performance.SectorTime
                  td= ind.Rewards.Rewards
                  td= ind.Misses.Misses

              //-     td= plot['% Comp']
              //-     td= plot['ETA(Days)']
              //-     td= plot['Sectors/Hr']
              //-     td= plot['Min/Sector']
              //-     td= plot.Rewards
              //-     td= plot.Miss
              //- each plot in detail
              //-   tr
              //-     td= plot.Id
              //-     td= plot.Size
              //-     td= plot['% Comp']
              //-     td= plot['ETA(Days)']
              //-     td= plot['Sectors/Hr']
              //-     td= plot['Min/Sector']
              //-     td= plot.Reward
              //-     td= plot.Miss
