doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="/styles.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Node Status
    script.
      let timeToRefresh = #{timeToRefresh};
      let resetTimer = #{resetTimer};

      function refreshMetricsData() {
        fetch('/api/refresh')
          .then(response => response.json())
          .then(data => {
            console.log('Data refreshed:', data);
            updateStatus = "Success"
            window.location.reload(); // Example: Reload the page after data is refreshed
          })
          .catch(error => {
            console.error('Error refreshing data:', error);
            updateStatus = "Error"
          });
      }
      setInterval(function(){
        timeToRefresh--;
         document.getElementById('timer').textContent = timeToRefresh;
      },1000)
      setTimeout(function() {
        window.location.reload();
        timer=resetTimer
      }, timeToRefresh*60*1000); 

  body
    h1 Node Status
      button(type="button", onclick="refreshMetricsData()") &#x21bb
    h3 Tssc Bal: #{walletBalance} | Timer:
      span(id="timer") #{timeToRefresh}
    div.all-status
      if updateStatus
        p Updated: #{updateStatus}
      each data in nodeDisplayData
        if data
          .node-status.center.header
            h3#blue Node Status: 
              div(id=data.nodeIsRunningOk ? 'green' : 'red') 
                | #{data.nodeIsRunningOk ? '✔': '✘'}
              div#black #{data.nodeIp}
            h3#blue  Synced: 
              div#black #{data.nodeSyncState ? 'Yes' : 'No'}
            h3  Peers: #{data.nodePeersConnected}

    //- hr
    div.all-status
      each pc in farmerDisplaySector
        .farmer-status
          p.center #{pc.SummaryData.Name}
          if pc.SummaryData.FarmerIsRunning && pc.SummaryData.ERROR == ""
            p#blue &nbsp; ✔ 
            p #{pc.SummaryData.Uptime.FormattedTime}
          else 
            p#red &nbsp; ✘ #{pc.SummaryData.Uptime.FormattedTime}
          p |
          p +#{pc.SummaryData.TotalRewardsPerTB} /TB |
          p#green +#{pc.SummaryData.TotalRewards} 
          p /
          p#red - #{pc.SummaryData.TotalMisses}
          p | #{pc.SummaryData.TotalDiskSize} Tib


      
    each pc in farmerDisplaySector
      .farmer-details
        div.center.header
          h3.center Name: #{pc.SummaryData.Name}
          h3 Hostname: #{pc.SummaryData.FarmerIp}
        div.line1
            p(id=pc.SummaryData.FarmerIsRunning ? 'blue' : 'red') Status: ✔ #{pc.SummaryData.Uptime.FormattedTime}
        div.line2
          div.row
            p.border Sector Time: #{pc.SummaryData.TotalSectorTime.formattedSectorTime} 
            p #{pc.SummaryData.TotalSectorsPerHour.toFixed(2)} Sectors per Hr
          div.row
            p.border Rewards: #{pc.SummaryData.TotalRewards}
            //- p.border #{pc.SummaryData.TotalRewardsPerHour} per Hr
            p.border #{(pc.SummaryData.TotalRewardsPerHour * 24).toFixed(2)} per Day
            p #{pc.SummaryData.TotalRewardsPerTB} per TB
          div.row
            p.border Remain: #{pc.SummaryData.TotalETA}
            p #{pc.SummaryData.TotalPercentComplete}% Complete 
          div.row
            p Size: #{pc.SummaryData.TotalDiskSize}TiB 
            p Miss: #{(pc.SummaryData.TotalMisses/(pc.SummaryData.TotalRewards+pc.SummaryData.TotalMisses)*100).toFixed(2)}%
        div.tablediv
          table
            thead
              tr
                //- th.disk-Id Disk Id
                th.Size Size(TB)
                th.Percent-Complete % Comp
                th.Reward Reward
                th.Miss T/R/Miss
                th.Miss Miss %
                th.ETA ETA(Days)
                th.Sectors-Hr Sectors/Hr
                th.Min-Sector Min/Sector
                th.Expired Expired/AboutToExpire

              each ind in pc.IndividualDiskDataObj
                tr  
                  //- td.disk-id #{ind.Id}
                  td= ind.Data.DiskSize 
                  td #{ind.Data.CompletePercent}%
                  td +#{ind.Rewards.Rewards}
                  td - #{ind.Misses.Total}/ #{ind.Misses.Rejected}/#{ind.Misses.Misses}
                  td #{(ind.Misses.Total/(ind.Misses.Total+ind.Rewards.Rewards)*100).toFixed(2)}%
                  td= ind.Data.ETA
                  td= ind.Performance.SectorsPerHour 
                  td= ind.Performance.SectorTime
                  td #{ind.Expired.Sectors}/ #{ind.AboutToExpire.Sectors}

